In [1]:
import pandas as pd
iris=pd.read_csv('IRIS11.csv')

In [2]:
iris.sample()

,ID,sepal_length,sepal_width,petal_length,petal_width,species,Unnamed: 6
146,147,6.3,2.5,5.0,1.9,Iris-virginica,NaN

In [4]:
iris.head()

,ID,sepal_length,sepal_width,petal_length,petal_width,species,Unnamed: 6
0,1,5.1,3.5,1.4,0.2,Iris-setosa,NaN
1,2,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa,NaN
3,4,4.6,3.1,1.5,0.2,Iris-setosa,NaN
4,5,5.0,3.6,1.4,0.2,Iris-setosa,NaN

In [13]:
import statsmodels.stats.weightstats as stawei
stawei.ztest(iris['sepal_length'],value=5.75)
#理解：1.提出零假设：sepal length的平均值为5.75
#      2.Z检验通过样本概率分布看其符合哪个分布模型，找到5.75所对应的出现概率
#      3.得到结果0.1674，验证者可用这个值与设好的阈值进行比较，决定零假设是否成立

(1.3804395261164213, 0.16745135728237504)

In [9]:
import numpy as np
np.mean(iris['sepal_length'])

5.8433333333333337

In [15]:
import scipy.stats
scipy.stats.ttest_1samp(iris['sepal_length'],popmean=5.75)

Ttest_1sampResult(statistic=1.3804395261164213, pvalue=0.16951878249006963)

In [20]:

X=np.random.normal(175,5,100).round(1)

#使用Z检验计算pval

z,pval = stawei.ztest(X,value=175)
pval

0.69173709980109144